<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<!-- css -->
<link href="../static/styles.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<title>UWM Schedule Planner: Delete Account</title>

</head>
    <body>

        <div class="form-cont">
            <div class="header">
                <div class="header-title header-title-form">UWM Schedule Planner</div>
            </div>
            <div class="form-title">Delete Existing Course</div>
            <form action="/deletecourse.html" method="post">
                {% csrf_token %}
                <div class="form-buttons-cont">
                    <div class="form-button">
                        <div class="form-button-title">Course Number</div>
                        <input class="form-input" id="course_number" name="course_number" type="name" placeholder="Course Number">
                    </div>
                </div>
                <div class="action-button-cont">
                    <input class="button action-button" type="submit" value="confirm delete">
                </div>
            </form>
        </div>

    </body>

    <script>
        {% if alert %}
            var message = "{{message}}";
            alert(message)
        {% endif %}
    </script>
</html>