<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- css -->
<link href="../static/styles.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<title>UWM Schedule Planner: Edit Courses</title>
</head>
<body>

    <div class="header">
        <div class="header-title">UWM Schedule Planner</div>
    </div>

    <form action="/editcourse.html" method="post">
        {% csrf_token %}
    <div class="table-cont">
        <div class="table-title">All Courses</div>
         <table id="class-table" class="edit-table">
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Subject</th>
                <th>Instructor</th>
                <th>TAs</th>
                <th>Sections</th>
                <th>Confirm Edit</th>
            </tr>

            <tr>
                <td><input class="form-input table-form-input" id="course_name" name="course_name" type="name" placeholder="New Name"></td>
                <td><input class="form-input table-form-input" id="edit_number" name="edit_number" placeholder="New Number" >{{Course.section_number}}</input></td>
                <td><input class="form-input table-form-input" id="edit_subject" name="subject" type="name" placeholder="New Subject"></td>
                <td> <input class="form-input table-form-input" id="edit_instructor" name="instructor" type="name" placeholder="New Instructor"></td>
                <td> <input class="form-input table-form-input" id="edit_ta" name="ta" type="name" placeholder="New TA's"></td>
                <td> <input class="form-input table-form-input" id="edit_section" name="section" type="name" placeholder="New Section Number"></td>
                <td><input class="button edit-button" type="submit" value="confirm edit"></td>
            </tr>

        </table>
     </div>
    </form>
</body>
</html>