<!doctype html>
<html>
<head>
<meta charset="utf-8">

<!-- css -->
<link href="../static/styles.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<title>Instructor Homepage</title>

</head>

<body>


    <div class="header">
        <div class="header-title">UWM Instructor Planner</div>
    </div>

    <div class="body-cont">
        <div class="half-cont">
            <div class="block">
                <div class="block-title">Course Management</div>
                <a href="instructor-courses.html">
                    <div class="sub-block">
                        <div class="block-icon"><i class="fas fa-book"></i></div>
                        <div class="block-info">
                            <div class="sub-block-title">My Courses</div>
                            <div class="sub-block-desc">view my courses</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="block">
                <div class="block-title">Section Management</div>
                <a href="addlab.html">
                    <div class="sub-block">
                        <div class="block-icon"><i class="fas fa-flask"></i></div>
                        <div class="block-info">
                            <div class="sub-block-title">Add Section</div>
                            <div class="sub-block-desc">add a section to a course and assign a TA</div>
                        </div>
                    </div>
                </a>
                <a href="editsection.html">
                    <div class="sub-block">
                        <div class="block-icon"><i class="fas fa-list-ul"></i></div>
                        <div class="block-info">
                            <div class="sub-block-title">Edit or Delete Section</div>
                            <div class="sub-block-desc">edit or delete an existing section</div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="half-cont right-cont">
            <div class="block">
                <div class="block-title">My Account</div>
                <div class="sub-block">
                    <div class="block-icon">I</div>
                    <div class="profile-cont">
                        <div class="profile-info">
                            <div class="sub-block-title">{{obj}}</div>
                            <div class="sub-block-desc">Role: Instructor</div>
                        </div>
                        <div class="logout-cont">
                            <a href="/" class="button logout-button">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block-title">Search</div>
                <a href="allcourses.html">
                    <div class="sub-block">
                        <div class="block-icon"><i class="fas fa-book"></i></div>
                        <div class="block-info">
                            <div class="sub-block-title">Find Course</div>
                            <div class="sub-block-desc">search for a course or select one from the list of All Courses</div>
                        </div>
                    </div>
                </a>
                <a href="finduser.html">
                    <div class="sub-block">
                        <div class="block-icon"><i class="fas fa-user"></i></div>
                        <div class="block-info">
                            <div class="sub-block-title">Find User</div>
                            <div class="sub-block-desc">search for a user or select one from the list of All Users</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>