<!doctype html>
<html>
<head>
<meta charset="utf-8">

<!-- css -->
<link href="../static/styles.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<title>TA Homepage</title>

</head>

<body>


    <div class="header">
        <div class="header-title">UWM TA Planner</div>
    </div>
    {% csrf_token %}
    <div class="body-cont">
        <div class="half-cont">
            <div class="block">
                <div class="block-title">Course Management</div>
                <div class="sub-block">
                    <div class="block-icon"><i class="fas fa-plus"></i></div>
                    <div class="block-info">
                        <a href="ta-assignments.html">
                            <div class="sub-block-title">View Assignments</div>
                        <div class="sub-block-desc">view all class assignments</div>
                        </a>

                    </div>
                </div>


            </div>


        </div>
        <div class="half-cont right-cont">
            <div class="block">
                <div class="block-title">My Account</div>
                <div class="sub-block">
                    <div class="block-icon">TA</div>
                    <div class="profile-info">
                        {% csrf_token %}
                        <div class="info-cont">
                            <div class="sub-block-title">{{obj}}</div>
                            <div class="sub-block-desc">Role: TA</div>
                        </div>
                        <div class="logout-cont">
                            <a href="/" class="button logout-button">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block-title">Search</div>
                <div class="sub-block">
                    <div class="block-icon"><i class="fas fa-book"></i></div>
                    <div class="block-info">
                        <a href="allcourses.html">
                             <div class="sub-block-title">Find Course</div>
                        <div class="sub-block-desc">search for a course or select one from the list of All Courses</div>
                        </a>

                    </div>
                </div>
                <div class="sub-block">
                    <div class="block-icon"><i class="fas fa-user"></i></div>
                    <div class="block-info">
                        <a href="finduser.html">
                             <div class="sub-block-title">Find User</div>
                        <div class="sub-block-desc">search for a user or select one from the list of All Users</div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>