@charset "utf-8";
/* CSS Document */

body {
    background-color:#fff;
    font-size:1rem;
	font-family:"helvetica";
	height:100%;
	margin:auto;
	width:100%;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

a{
    color:#000;
    text-decoration:none;
}

.header{
    background-color:#000;
    margin-bottom:5%;
    width:100%;
}

.header-title{
    color:#fff;
    font-size:1.5vw;
    font-weight:bold;
    padding:1% 5% 1%;
    text-transform:uppercase;
}

/* FORM STYLES */

.form-cont{
    background-color:#F5F5F5;
    margin:auto;
    margin-top:5%;
    width:50%;
}

.header-title-form{
    text-align:center;
    padding-left:0;
    padding:1.5%;
}

.form-title{
    margin-left:5%;
    font-size:1.5vw;
    text-transform:uppercase;
    font-weight:bold;
}

.form-buttons-cont{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:auto;
    padding:5%;
    padding-bottom:0;
}

.form-buttons-cont-vert{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:auto;
    padding:5%;
    padding-bottom:0;
    padding-top:2.5%;
}

.form-button{
    display:flex;
    flex-direction:column;
    margin-bottom:2.5%;
    width:42.5%;
}

.form-button-vert{
    align-items:center;
    cursor:pointer;
    display:flex;
    flex-direction:row;
    font-size:1vw;
    font-weight:bold;
    margin-bottom:2.5%;
    width:42.5%;
}

.form-button-vert i{
    margin-right:5%;
}

.form-button:nth-child(odd){
    margin-right:10%;
}

.form-button-title{
    font-size:1vw;
    font-weight:bold;
    margin-bottom:2.5%;
    text-transform:uppercase;
}

.form-input{
    border:none;
    font-size:0.8vw;
    outline:none;
    padding:5%;
    width:100%;
}

.form-radios{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:2.5%;
    width:100%;
}

.radio-button{
    display:flex;
    flex-direction:row;
}

.radio-title{
    font-size:1vw;
    margin-left:10%;
}

.action-button-cont{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding:5%;
    width:90%;
}

.action-button{
    background-color:#FFBD00;
    border:none;
    cursor:pointer;
    text-transform:uppercase;
}

/* DROPDOWN STYLES */
select {
    border:none;
    font-size:0.8vw;
    outline:none;
    padding:4.5%;
    width:90%;
}

#select-subject{
    width:112.5%;
}

/* COURSE CREATION */
.section-cont{
    align-items:center;
    background-color:#fff;
    display:flex;
    flex-direction:row;
    margin-bottom:2.5%;
    padding:1.5% 2.5% 1.5% 2.5%;
    width:95%;
}

.section-info{
    font-size:0.8vw;
    font-weight:bold;
    width:100%;
}

.section-number{
    width:40%;
}

/* HOMEPAGE STYLES */

.body-cont{
    display:flex;
    flex-direction:row;
    padding: 0% 5% 5% 5%;
    width:90%;
}

.half-cont{
    display:flex;
    flex-direction: column;
    width:50%;
}

.right-cont{
    padding-left:5%;
}

.block{
    background-color:#F5F5F5;
    margin-bottom:5%;
    width:100%;
}

.block-title{
    background-color:#000;
    color:#fff;
    font-size:1.25vw;
    font-weight:bold;
    padding:2.5%;
    text-transform:uppercase;
    width:95%;
}

.sub-block{
    background-color:#fff;
    display:flex;
    flex-direction:row;
    margin:2%;
    padding:2%;
}

.block-icon{
    background-color:#f5f5f5;
    font-size:3vw;
    font-weight:bold;
    margin-right:2%;
    padding:2% 2% 2% 2%;
    text-align:center;
    width:10%;
}

.sub-block-title{
    font-size:1.25vw;
    font-weight:bold;
}

.sub-block-desc{
    font-size:1vw;
    font-style:italic;
    margin-top:2%;
}

.buttons-cont{
    display:flex;
    flex-direction:row;
    margin-bottom:2.5%;
    margin-top:-2.5%;
    width:100%;
    justify-content:space-between;
}

.left-buttons{
    display:flex;
    flex-direction:row;
    width:50%;
}

.right-buttons{
    display:flex;
    flex-direction:row;
    width:50%;
    justify-content:flex-end;
}

.button{
    font-size:1.25vw;
    font-weight:bold;
    padding: 2.5%;
}

.acct-button{
    background-color:#f5f5f5;
    margin-right:5%;
}

.logout-button{
    background-color:#FFBD00;
    text-transform:uppercase;
}

/* TABLE STYLES */

.table-cont{
    padding:0% 5% 5% 5%;
    width:90%;
}

.table-title{
    font-size:1.5vw;
    font-weight:bold;
    margin-bottom:2.5%;
}

#class-table{
    background-color:#f5f5f5;
    border-collapse:collapse;
    width:100%;
}

tr{
    background-color:#fff;
}

tr:first-of-type{
    background-color:#000;
    color:#fff;
}

th{
    border:0.25vw solid #f5f5f5;
    border-bottom:0.25vw solid #000;
    border-top:0.25vw solid #000;
    padding:1%;
    text-align:left;
    text-transform:uppercase;
}

th:first-child{
    border-left:0.25vw solid #000;
}

th:last-child{
    border-right:0.25vw solid #000;
}

td{
    border:0.25vw solid #f5f5f5;
    padding:1%;
}